{% extends 'base.html.twig' %}

{% block title %}Journal{% endblock %}

{% block body %}
    <h1>Journal</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ journal.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ journal.titre }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ journal.annee }}</td>
            </tr>
            <tr>
                <th>Resumee</th>
                <td>{{ journal.resumee }}</td>
            </tr>
            <tr>
                <th>Date_parution</th>
                <td>{{ journal.dateParution ? journal.dateParution|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Frequence</th>
                <td>{{ journal.frequence }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_journal_index') }}">back to list</a>

    <a href="{{ path('app_journal_edit', {'id': journal.id}) }}">edit</a>

    {{ include('journal/_delete_form.html.twig') }}
{% endblock %}
