{{ form_start(form) }}
    
<div style="display: inline-grid; grid-template-columns: auto auto auto;">
    {{ form_row(form.image) }}<img style="width: 100px;" src="{{ asset('uploads/' ~ book.image) }}" alt="{{ book.titre }}" title="{{ book.titre }}" />
</div>
    {{ form_widget(form) }}
    
    
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
