{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    {{ include('pagination/pagination.html.twig') }}
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Annee</th>
                <th>Resumee</th>
                <th>Genre</th>
                <th>Etat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td><img src="{{ asset('uploads/' ~ book.image) }}" alt="{{ book.titre }}" title="{{ book.titre }}" /></td>
                <td>{{ book.id }}</td>
                <td>{{ book.titre }}</td>
                <td>
                    {% for author in book.author %}
                        {{ author.prenom}} {{ author.nom }}<br />
                    {% endfor %}
                </td>
                <td>{{ book.annee }}</td>
                <td>
                    <div class="resumee" rel="{{ book.id }}" id="resumee_{{ book.id }}">{{ book.resumee|u.truncate(50, '...') }}</div>
                    <div class="resumee_detail" rel="{{ book.id }}" id="resumee_detail_{{ book.id }}">
                        {{ book.resumee }}
                    </div>
                </td>
                <td>{{ book.genre.libelle }}</td>
                <td>{{ book.etat }}</td>
                <td>
                    <a href="{{ path('app_book_show', {'id': book.id}) }}">show</a>
                    <a href="{{ path('app_book_edit', {'id': book.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('pagination/pagination.html.twig') }}

    <a href="{{ path('app_book_new') }}">Create new</a>
{% endblock %}
